<%- css('css/ant') %>
<%- css('css/basic-styles') %>
<%- css('css/normalize') %>
<%- css('css/start-page') %>
<%- css('css/prio-menu') %>
<%- css('css/media-queries') %>
</head>
<body>
    <%- partial('partial/header') %>
    <%- page.content %>
    <%- partial('partial/footer') %>
</body>
